.front-page {
    width: 100vw;
    height: 100svh;
    background: var(--primary);
    display: grid;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 100px;
}
.front-page h1 {
    font-size: 8em;
    font-family: teko;
    color: var(--fixed-on-primary);
    margin: 0;
    padding: 0;
    line-height: 0.9em;
}
.lower {
    padding-top: 30svh;
}

@media (max-width: 800px) {
    .front-page {
        padding: 10px 20px;
        text-align: center;
    }
    .front-page h1 {
        font-size: 6em;
    }
    .large-button {
        font-size: 1em !important;
        padding: 5px 12px !important;
    }
    .lower {
        padding-top: 0;
    }
}

@media (max-width: 600px) {
    .front-page h1 {
        font-size: 4em;
    }
}@media (max-width: 400px) {
    .front-page h1 {
        font-size: 3em;
    }
}