.front-page {
    width: 100vw;
    height: 100svh;
    background: var(--primary);
    display: grid;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 100px;
}
.front-page h1 {
    font-size: 8em;
    font-family: teko;
    color: var(--fixed-on-primary);
    margin: 0;
    padding: 0;
    line-height: 0.9em;
}
.lower {
    padding-top: 30svh;
}