.faq-item {
    width: calc(100% - 80px);
    margin: 40px;
    background: var(--surface-variant);
    color: var(--on-surface-variant);
    box-sizing: border-box;
    padding: 1em 2em;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}
.faq-item:nth-child(odd) {
    background: var(--surface-container-highest);
}
.expand-me {
    display: none;
}
.faq-item .question {
    font-size: 2em;
    margin: 0;
}

.expand-me .answer {
    font-size: 1.3em;
}

.faq-item.active .expand-me {
    display: block;
}
.faq-item.active {
    filter: brightness(0.9);
}


.override {
    cursor: default;
}

.override.active {
    filter: brightness(1);
}