body {
    background: var(--light-background);
}

/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');

/* Apply general styling */
body {
  font-family: host_grotesk, Arial, sans-serif; /* Replace with 'Host Grotesk' local font */
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

* {
  resize: none;
}


/* Heading styles */
h1, h2 {
  font-family: teko, sans-serif;
  margin: 0;
  color: #333;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* Container layout */
.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: var(--light-surface-container-lowest);
  border: 1px solid var(--light-outline);
}

/* Contact Details */
.contact-details {
  flex: 1;
  padding: 20px;
}

.contact-info p {
  margin: 1em 0;
  font-size: 1.2em;
  color: var(--light-on-surface);
}

.contact-info a {
  color: var(--light-primary);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.description {
    margin-top: 20px;
    font-size: 0.6em; /* Bigger font */
    font-family: host_grotesk;
    color: var(--light-on-surface-variant); /* Optional: Change text color */
  }

  .description>p {
    margin-top: 20px;
  }
  

/* Form styling */
.contact-form {
  flex: 1;
  padding: 20px;
  background-color: var(--light-surface-container);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--light-outline);
  font-size: 1em;
  font-family: host_grotesk, Arial, Helvetica, sans-serif;
  width: calc(100% - 20px);
  color: var(--light-on-surface);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background: var(--light-surface);
  box-shadow: none;
}

.contact-form button {
  height: 50px;
}

.highlight {
  color: #395fe6;
  font-weight: bold;
}


.contact-container {
    width: 100vw;
    color: var(--light-on-background);
}