h2 {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
}
.event-list {
    position: absolute;
    width: 100vw;
    height: calc(100vw - 90px);
    top: 40px;
    padding: 0;
}
.event-list ul {
    margin: 0;
    padding: 40px;
}
.event-list li {
    position: relative;
    display: grid;
    width: calc(100% - 40px);
    height: 300px;
    padding: 20px;
    margin-top: 40px;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    background: var(--inverse-on-surface);
}
.event-list li .event-image {
    position: relative;
    transform: scale(0.9);
    background-size: 100% 100%;
}
.text {
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 150px;
    gap: 10px;
    color: var(--on-surface);
}
.text * {
    margin: 0;
    padding: 0;
}
.text>div:nth-child(1), .text>h3 {
    display: grid;
    align-items: end;
}
.text>h3 {
    justify-content: right;
    color: var(--teritary);
}

.event-blown-up-container h3, .event-blown-up-container h4 {
    position: inline;
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.2em;
}

h4, h5 {
    font-size: 1em;
    font-weight: normal;
}
.event-blown-up-container {
    width: 100vw;
    height: 100svh;
    z-index: 1001;
    background: #00000077;
    position: fixed;
    left: 0;
    top: 0;
}
.event-blown-up {
    width: calc(100vw - 80px);
    height: calc(100svh - 80px);
    background: var(--surface-container-highest);
    color: var(--on-surface);
    position: relative;
    top: 40px;
    left: 40px;
    z-index: 1001;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--outline);
}
.event-blown-up * {
    overflow: hidden;
}
.event-blown-up>.event-details {
    box-sizing: border-box;
    padding: 20px;
}
.event-blown-up>.seating-buy-tickets {
    display: grid;
    grid-template-rows: 1fr 40px;
    padding: 20px;
    box-sizing: border-box;
}
.event-blown-up-image {
    width: 100%;
    aspect-ratio: 1/1;
    background: url('https://placehold.co/400x400');
    background-size: cover;
}
.event-blown-up>* {
    overflow-y: scroll;
}
.event-blown-up>.seating-buy-tickets>.button-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
}
.event-blown-up>.event-details>p {
    font-size: 1em;
}

@media (max-width: 1000px) {
    
}