body {
    background: var(--light-background);
}
.event-list {
    position: absolute;
    width: 100vw;
    height: calc(100vw - 90px);
    top: 40px;
    padding: 0;
}
.event-list ul {
    margin: 0;
    padding: 40px;
}
.event-list li {
    position: relative;
    display: grid;
    width: calc(100% - 40px);
    height: 300px;
    padding: 20px;
    margin-top: 40px;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    background: var(--light-inverse-on-surface);
}
.event-list li .event-image {
    position: relative;
    transform: scale(0.9);
    background-size: 100% 100%;
}
.text {
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 150px;
    gap: 10px;
    color: var(--light-on-surface   );
}
.text * {
    margin: 0;
    padding: 0;
}
.text>div:nth-child(1), .text>h3 {
    display: grid;
    align-items: end;
}
.text>h3 {
    justify-content: right;
    color: var(--light-teritary);
}
h4, h5 {
    font-size: 1em;
    font-weight: normal;
}